.app {
    padding-top: 40px;
}

.appMainHeading {
    text-align: center;
}

.settingsButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
}