.input {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
}

.input:focus-visible + .inputBox {
    border: 2px solid #525252;
}

.inputBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--smokeGray);
}

.inputBox:hover {
    cursor: pointer;
}

.inputBoxActive {
    background-color: var(--dark);
    color: var(--white);
}
