:root {
    --primary: #1E2140;
    --white: #fff;
    --softWhite: #D7E0FF;
    --timerGradient: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
    --dark: #161932;
    --smokeGray: #EFF1FA;
    --tomato: #F87070;
    --faintTomato: rgba(248, 112, 112, 0.2);
    --grey: #E3E1E1;
    --inputDark: #1E213F;
    --overlay: rgba(10, 12, 28, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--primary);
    color: var(--white);
}

